.wrapper {
  width: 1280px;
  margin: 0 auto;
  padding: 32px 16px;
}

.header {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin-bottom: 32px;
}

.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
