{
  // Максимальная длина строки перед переносом
  "printWidth": 100,
  // Количество пробелов на один уровень отступа
  "tabWidth": 2,
  // Использовать пробелы вместо табов
  "useTabs": false,
  // Добавлять точку с запятой в конце выражений
  "semi": true,
  // Использовать одинарные кавычки вместо двойных
  "singleQuote": true,
  // Добавлять запятые после последнего элемента в объектах/массивах
  "trailingComma": "all",
  // Добавлять пробелы между фигурными скобками в объектах { foo: bar }
  "bracketSpacing": true,
  // Всегда оборачивать параметры стрелочных функций в скобки (x) => x
  "arrowParens": "always",
  // Использовать LF (Unix-style) для переносов строк
  "endOfLine": "lf"
}